<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars</title>
    <style>
    th, td {
		border-style: solid;
		padding: 5px;
    }
    table {
        text-align: center;
		font-size: 125%;
		border-collapse: collapse;
		border-style: solid;
		margin: 10px;
    }
</style>
</head>
<body>
<table>
    <tr style="background-color: lightgrey">
        <td>Episode №</td>
        <td>Title</td>
        <td>Opening crawl</td>
        <td>Director</td>
        <td>Producer(s)</td>
        <td>Release date</td>
    </tr>
{% for movie in movies %}
    <tr>
    {% for i in movie %}
        <td>
            {% if i %}
                {{ i }}
        </td>
            {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</table>
</body>
</html>