{% extends 'ex01/base.html' %}
{% block title %}
Ex01: Django, framework web.
{% endblock title %}
{% block content %}
<table class="infobox vevent">
    <tbody>
    <tr>
        <td colspan="2" class="infobox-image">
                <img alt="Django logo.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/185px-Django_logo.svg.png" decoding="async" width="185" height="64" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/278px-Django_logo.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/370px-Django_logo.svg.png 2x" data-file-width="260" data-file-height="90">
        </td>
    </tr>
    <tr>
        <td colspan="2" class="infobox-image">
                <img alt="Django 2.1 landing page.png" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Django_2.1_landing_page.png/300px-Django_2.1_landing_page.png" decoding="async" width="300" height="223" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Django_2.1_landing_page.png/450px-Django_2.1_landing_page.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/53/Django_2.1_landing_page.png/600px-Django_2.1_landing_page.png 2x" data-file-width="854" data-file-height="635">
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Original author(s)
        </th>
        <td class="infobox-data">
            Adrian Holovaty, Simon Willison
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Developer(s)
        </th>
        <td class="infobox-data">
            Django Software Foundation
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Initial release
        </th>
        <td class="infobox-data">
            21 July 2005
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Stable release
        </th>
        <td class="infobox-data">
            <div style="margin:0px;">
                3.2.7 / 1 September 2021
            </div>
        </td>
    </tr>
    <tr style="display:none">
        <td colspan="2">
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Repository
        </th>
        <td class="infobox-data">
            <div class="plainlist">
                <a rel="nofollow" class="external text" href="https://github.com/django/django">github<wbr>.com<wbr>/django<wbr>/django</a>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Written in
        </th>
        <td class="infobox-data">
            Python
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Size
        </th>
        <td class="infobox-data">
            8.9 MB
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Type
        </th>
        <td class="infobox-data">
            Web framework
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            License
        </th>
        <td class="infobox-data">
            3-clause BSD
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="white-space: nowrap;">
            Website
        </th>
        <td class="infobox-data">
            <span class="url">
                <a rel="nofollow" class="external text" href="https://www.djangoproject.com/">www<wbr>.djangoproject<wbr>.com
                </a>
            </span>
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
<h2>Overview</h2>
<hr>
<p><b>Django</b> is a Python-based free and open-source web framework that follows the model–template–views (MTV) architectural pattern. It is maintained by the Django Software Foundation (DSF), an independent organization established in the US as a 501(c)(3) non-profit.</p>
<p>Django's primary goal is to ease the creation of complex, database-driven websites. The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development, and the principle of don't repeat yourself. Python is used throughout, even for settings, files, and data models. Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.</p>
<p>Some well-known sites that use Django include Instagram, Mozilla, Disqus, Bitbucket, Nextdoor and Clubhouse.</p>
<h2><span>History</span></h2>
<hr>
<p>Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended. It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt.Adrian Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.</p>
<p>In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.</p>
{% endblock content %}